/.vscode/**
wordpress
*/uploads/documents/*
old
test
settings.php
.ftpquota
.well-known
*.log
/logs/**
/system/_dev/**
.env
.env.*
!.env.sample
!.env.test.sample
vendor
/tmp/*
!/tmp/templates_c/.keep
*.mp4
/system/docs_cache/*
!/system/docs_cache/.keep